:root{
  --height-default: 60px;
}

*{
 margin: 0;
 padding: 0;

}

body{
position: absolute;
width: 100%;
height: 100%;
background-color:rgb(228, 117, 135);

}

header{
  position: relative;
  width: 100%;
  height: var(--height-default);
  background-color:pink;
}

header nav{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(228, 117, 135);
}

nav ul{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: var(--hright-default);
    margin: auto;
}
ul li{
position: relative;
margin-right: 1em;

}
li a{
  text-decoration: none;
  color:rgb(228, 117, 135);
   font-size: 20pt;
}